---
layout: page
---
<section id="blog">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
     <img class="img-responsive course-img" src="{{page.photo}}" alt="">
     <hr>
     {{content}}
     <hr>
     <h1><small>Praktisk information</small> </h1>
     <h4><span class=""> Max antal deltagere: {{page.seats}} (kontakt os hvis I er flere)</span></h4>
     <h4> <span class="">Varighed: {{page.duration}}</span></h4>
     
     <h4><span class="">Pris: {{page.price}} kr. ekskl. moms.</span></h4>

     <h4>For booking, spørgsmål og mere information kan vi kontaktes på mailadressen nedenfor </h4>
    </div>
  </div>
</section>
