---
layout: page
---
<section id="blog">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
     <img class="img-responsive course-img" src="{{page.photo}}" alt="">
     <hr>
     {{content}}
     <hr>
     <h1><small>Praktisk information</small> </h1>
     <h2>Max antal deltagere: <span class="small"> {{page.seats}} (kontakt os hvis I er flere)</span></h2>
     <h2>Varighed: <span class="small">{{page.duration}}</span></h2>
     
     <h2>Pris: <span class="small">{{page.price}} kr. eks moms.</span></h2>

     <h2>For booking, spørgsmål og mere information kan vi kontaktes på mailadressen nedenfor:</h2>
    </div>
  </div>
</section>
