---
layout: page
---
<section id="blog">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
     <img class="img-responsive course-img" src="{{page.photo}}" alt="">
     <hr>
     {{content}}
     <hr>
     <h1><small>Praktisk information</small> </h1>
     <h2><span class="small"> Max antal deltagere: {{page.seats}} (kontakt os hvis I er flere)</span></h2>
     <h2> <span class="small">Varighed: {{page.duration}}</span></h2>
     
     <h2><span class="small">Pris: {{page.price}} kr. ekskl. moms.</span></h2>

     <h2><small>For booking, spørgsmål og mere information kan vi kontaktes på mailadressen nedenfor </small></h2>
    </div>
  </div>
</section>
